body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bgc2.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    margin: 100px auto;
    text-align: center;
}

table th {
    background: #bd9c8c;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

table td {
    background: #dfd8c6;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}